.coursesCard {
  width: 100%;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0px 10px 13px -4px rgba(35, 35, 95, 0.19);
}

.imageContainer {
  height: 162px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  height: 144px;
}

.name {
  margin: 12px 18px 18px 18px;
  vertical-align: center;
  font-size: 18px;
  font-weight: 800;
}