
@font-face {
  font-family: "Nunito";
  src: url("fonts/Nunito.ttf");
}
body {
  margin: 0;
  font-family: "Nunito";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



